{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}

<div class="reportSection tableContainer">
  <h4>Humpback Diversity</h4>

      <table data-paging="10">
        <thead>
          <tr>
            <th>Country or Region</th>
            <th>Haplotypic Diversity</th>
            <th>Number of Haplotypes</th>
            <th>Nucleotide Diversity</th>
          </tr>
        </thead>
        <tbody>
          {{#humpback_diversity}}
          <tr>
            <td>{{Country}}</td>
            <td>{{Haplotyic}}</td>
            <td>{{Number_of}}</td>
            <td>{{Nucleotide}}</td>
          </tr>
          {{/humpback_diversity}}
        </tbody>
      </table>
</div>

<div class="reportSection tableContainer">
  <h4>Average Number of Alleles</h4>

      <table data-paging="10">
        <thead>
          <tr>
            <th>Country or Region</th>
            <th>Average Number of Alleles</th>
          </tr>
        </thead>
        <tbody>
          {{#humpback_diversity}}
          <tr>
            <td>{{Country}}</td>
            <td>{{Average_nu}}</td>
          </tr>
          {{/humpback_diversity}}
        </tbody>
      </table>
</div>
