{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}

<div class="reportSection tableContainer">
  <h4>Spinner Genetic Diversity (mtDNA and 10 msats)</h4>
      <table data-paging="10">
        <thead>
          <tr>
            <th>Location</th>
            <th>Number of Haplotypes</th>
            <th>Haplotype Diversity</th>
            <th>Nucleotide Diversity</th>
            <th>Number of Alleles</th>
            <th>Allelic Richness</th>
          </tr>
        </thead>
        <tbody>
          {{#spinner_diversity}}
          <tr>
            <td>{{NAME}}</td>
            <td>{{Number_o_1}}</td>
            <td>{{Haplotype}}</td>
            <td>{{Nucleotide}}</td>
            <td>{{Number_o_2}}</td>
            <td>{{Allelic_ri}}</td>
          </tr>
          {{/spinner_diversity}}
        </tbody>
      </table>
</div>

<!--
<div class="reportSection tableContainer">
  <h4>Spinner Rarified Genetic Diversity (mtDNA and msats)</h4>
      <table data-paging="10">
        <thead>
          <tr>
            <th></th>
            <th colspan="2">msats (10 genes)</th>
            <th colspan="2">msats (60 genes)</th>
            <th colspan="2">mtDNA</th>
          </tr>
          <tr>
            <th>Location</th>
            <th>Allelic Richness</th>
            <th>Private Allelic Richness</th>
            <th>Allelic Richness</th> 
            <th>Private Allelic Richness</th>
            <th>Allelic Richness</th> 
            <th>Private Allelic Richness</th>
          </tr>
        </thead>
        <tbody>
          {{#spinner_rarified}}
          <tr>
            <td>{{NAME}}</td>
            <td>{{Rarified_a}}</td>
            <td>{{Rarified_p}}</td>
            <td>{{Rarified_1}}</td>
            <td>{{Rarified_2}}</td>
            <td>{{Rarified_3}}</td>
            <td>{{Rarified_4}}</td>
          </tr>
          {{/spinner_rarified}}
        </tbody>
      </table>
</div>
-->
